<!DOCTYPE html>
<html lang="en" ng-app="MyFirstApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <!--<script src="angular.min.js"></script>-->
    <!--<script src="app.js"></script>-->
    <title>Document</title>
</head>
<body>
    <h1>My first App</h1>
    <div ng-controller="MyFirstController">
       {{name}}
       {{sayHello()}}
       <br/>
       <input type="text" ng-model="name">
        <p>Inside my input is: {{name}}</p>
    </div>
</body>
</html>