<!DOCTYPE html>
<html ng-app='DIApp'>
  <head>
    <meta charset="UTF-8" />
    <!--<meta name="viewport" content="width=<device-width>, initial-scale=1.0" />-->
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Dependency Injection in JavaScript(and Angular JS)</title>
  </head>
  <body>
    <h1>Dependency Injection in JavaScript</h1>
    <div ng-controller='DIController'>
        <input type="text" ng-model="name" ng-blur="upper();"/>
    </div>
  </body>
</html>
