<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<meta name="viewport" content="width=<device-width>, initial-scale=1.0" />-->
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      body {
        font-size: 1.3em;
      }
    </style>
    <title>Document</title>
  </head>
  <body ng-app="NameCalculator">
    <h1>Name Calculator</h1>
    <div ng-controller="NameCaclulatorController">
      <div> 
          Your name:
        <input type="text" ng-model="name" 
        ng-keyup="displayNumeric();" />
      </div>
      <p>Total Numeric value of person's name is: {{totalValue}} </p>
    </div>
  </body>
</html>
